.Not__Found {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    background-image: url(../../images/stars.svg);
}

.Not__Found-text {
    justify-self: center;
    align-self: center;
    text-align: center;
}